@import 'https://fonts.googleapis.com/css?family=Raleway';
body {
    font: 15px/1.5 Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    background-color: rgb(250, 247, 246);
}

.contain {
    width: 80%;
    margin: auto;
    overflow: hidden;
}
/*
header {
    background-color: rgb(46, 73, 83);
    color: #ffffff;
    margin-top: auto;
    min-height: 70px;
    border-bottom: rgb(254, 175, 111) 3px solid;
    box-sizing: content-box;
}
header a {
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}

header ul {
    margin: 0;
    padding: 0;
}

header li {
    float: left;
    display: inline;
    padding: 0 20px 0 20px;
}

header .webname {
    float: left;
}

header .webname h1 {
    margin: 0;
    padding-top: 15px;
    padding-left: 70px;
}

header nav {
    float: right;
    padding-top: 25px;
}

header .highlight,
header .current a {
    color: rgb(254, 175, 111);
    font-weight: bold;
}

header a:hover {
    color: #cccccc;
    font-weight: bold;
}*/

header
{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 auto;
	padding: 0em 0em;
	text-align: center;
    background: #555;
    border-bottom: rgb(254, 175, 111) 3px solid;
}

header h1
{
    color: white;
    font-size: 40px;
    font-weight: lighter;
    margin-bottom: 30px;
}

header span
{
    color: yellow;
}

div.container
{
    font-family: Raleway;
    margin: 0 auto;
	padding: 1.5em 3em;
	text-align: center;
}

div.container a
{
    color: #FFF;
    text-decoration: none;
    font: 15px Raleway;
    margin: 0px 25px;
    padding: 10px 10px;
    position: relative;
    z-index: 0;
    cursor: pointer;
}

.deepOrange
{
    background: rgb(46, 73, 83);
}

div.pullRightLeft a:before, div.pullRightLeft a:after
{
    position: absolute;
    width: 2px;
    height: 80%;
    top: 5px;
    content: '';
    background: #FFF;
    opacity: 0.2;
    transition: all 0.3s;
}

div.pullRightLeft a:before
{
    left: 0px;
} 

div.pullRightLeft a:after
{
    right: 0px;
}

div.pullRightLeft a:hover:before, div.pullRightLeft a:hover:after
{
    width: 100%;
}


/* customize scrollbar style starts */

::-webkit-scrollbar {
    width: 18px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: #a8bbbf;
    border-radius: 20px;
    border: 4px solid transparent;
    background-clip: padding-box;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #6c8f96;
}

/* customize scrollbar style ends */

/* scroll to top button styling starts*/
#scroll-top-btn {
    width: 55px;
    height: 55px;

    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 99;

    display: none;
    justify-content: center;
    align-items: center;

    border: none;
    outline: none;
    border-radius: 50%;
    box-shadow: 0 0 20px rgb(172, 171, 171);

    background-color: #5837d0;
    padding: 7px 15px;
}

#scroll-top-btn:hover {
    background-color: #110a29;
}

.arrow-to-top {
    width: 100%;
}

/* scroll to top button styling starts */

#tags {
    min-height: 320px;
    background: url(../images/top.jpg) no-repeat;
    min-width: max-content;
    background-size: cover;
    object-fit: cover;
    text-align: 150px;
    color: rgb(254, 175, 111);
    border-bottom: rgb(254, 175, 111) 3px solid;
}

#tags h1 {
    margin-top: 50px;
    padding-left: 150px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    font-weight: 550;
}

#tags p {
    color: #ffffff;
    margin-top: 20px;
    font-size: 25px;
}

.page-heading {
    font: 30px/1.5 Arial, Helvetica, sans-serif;
    background-color: rgb(46, 73, 83);
    color: rgb(254, 175, 111);
    text-align: center;
    font-weight: 520;
    min-height: 80px;
    border-bottom: rgb(254, 175, 111) 3px solid;
}

.page-heading h1 {
    font-size: 35px;
    padding-top: 15px;
}

.add {
    margin-top: 20px;
    text-align: center;
    padding-left: 28%;
}

.submit {
    text-align: center;
}

h4,
.instruction {
    margin-top: 20px;
    margin-bottom: 20px;
    color: rgb(46, 73, 83);
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    font-weight: 400;
}

#ingredient-list {
    text-align: center;
    overflow-y: scroll;
    padding-left: 40%;
    padding-right: 40%;
}

#submit-final:hover,
#addingredient:hover {
    background-color: #17bebb;
    color: #fff;
}

#submit-final,
#addingredient {
    color: #17bebb;
    border-color: #17bebb;
}

/* cards css  */

* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    list-style-type: none;
    text-decoration: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}
.pop,
.foodbytitle {
    font: 30px/1.5 Arial, Helvetica, sans-serif;
    color: rgb(46, 73, 83);
    margin-top: 90px;
    margin: 70px;
    font-weight: 550;
    text-decoration: underline;
}

.popular,
.foodbyingre {
    display: inline-block;
    padding-left: 35px;
    margin-bottom: 70px;
    width: 100%;
}

img {
    max-width: 100%;
}

.card {
    display: inline-block;
    position: relative;
    background: #ffffff;
    width: 320px;
    margin: 20px;
}

.head,
.tail {
    background-size: cover;
    min-height: 240px;
}

.icon .heart {
    position: absolute;
    left: 86%;
    bottom: 30.7%;
    background: #17bebb;
    color: #fff;
    font-size: 2em;
    font-weight: bold;
    padding: 5px;
    border-radius: 50%;
    cursor: pointer;
}
.text .food {
    color: #212129;
    text-align: left;
    font-weight: normal;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    margin: 5px 30px;
}
.text .clock {
    color: #9b9b9b;
    margin: 0 30px;
    font-size: 20px;
}
.stars {
    margin: 10px 30px;
    font-size: 20px;
}
.stars li {
    color: #ffe500;
}
.info {
    margin: 10px 30px;
}
a.btn {
    display: block;
    background: rgb(254, 175, 111);
    color: #fff;
    position: relative;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    text-align: center;
    padding: 10px;
    transition: 250ms;
}
a.btn:hover {
    background: #17bebb;
    transition: 250ms;
}

/* Snackbar Styles */

#snackbar {
    visibility: hidden;
    min-width: 250px;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 15px;
    position: fixed;
    z-index: 1;
    right: 30px;
    top: 50px;
    font-size: 17px;
    height: fit-content;
}
#snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}
#snackbar.snackbar-danger {
    background-color: red;
}
#snackbar.snackbar-warning {
    background-color: yellow;
}
#snackbar.snackbar-success {
    background-color: green;
}
@keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }
    to {
        bottom: 30px;
        opacity: 1;
    }
}
@keyframes fadeout {
    from {
        bottom: 30px;
        opacity: 1;
    }
    to {
        bottom: 0;
        opacity: 0;
    }
}

.ingredientlist {
    font-weight: bold;
}
.instruction {
    font-weight: bold;
}

/* paragraph animation */
p {
    font-family: "Montserrat Medium";
    max-width: 50ch;
    text-align: center;
    transform: scale(0.94);
    animation: scale 3s forwards cubic-bezier(0.5, 1, 0.89, 1);
}
@keyframes scale {
    100% {
        transform: scale(1);
    }
}

span {
    display: inline-block;
    opacity: 0;
    filter: blur(4px);
}

span:nth-child(1) {
    animation: fade-in 0.8s 0.1s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(2) {
    animation: fade-in 0.8s 0.2s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(3) {
    animation: fade-in 0.8s 0.3s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(4) {
    animation: fade-in 0.8s 0.4s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(5) {
    animation: fade-in 0.8s 0.5s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(6) {
    animation: fade-in 0.8s 0.6s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(7) {
    animation: fade-in 0.8s 0.7s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(8) {
    animation: fade-in 0.8s 0.8s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(9) {
    animation: fade-in 0.8s 0.9s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(10) {
    animation: fade-in 0.8s 1s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(11) {
    animation: fade-in 0.8s 1.1s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(12) {
    animation: fade-in 0.8s 1.2s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(13) {
    animation: fade-in 0.8s 1.3s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(14) {
    animation: fade-in 0.8s 1.4s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(15) {
    animation: fade-in 0.8s 1.5s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(16) {
    animation: fade-in 0.8s 1.6s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(17) {
    animation: fade-in 0.8s 1.7s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(18) {
    animation: fade-in 0.8s 1.8s forwards cubic-bezier(0.11, 0, 0.5, 0);
}
span:nth-child(19) {
    animation: fade-in 0.8s 1.9s forwards cubic-bezier(0.11, 0, 0.5, 0);
}
span:nth-child(20) {
    animation: fade-in 0.8s 2s forwards cubic-bezier(0.11, 0, 0.5, 0);
}
span:nth-child(21) {
    animation: fade-in 0.8s 2.1s forwards cubic-bezier(0.11, 0, 0.5, 0);
}
span:nth-child(22) {
    animation: fade-in 0.8s 2.2s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

@keyframes fade-in {
    100% {
        opacity: 1;
        filter: blur(0);
    }
}

/* paragraph animation */

:root {
    --bs-dark: #212529;
}

.theme-container {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    position: fixed;
    bottom: 20px;
    left: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    z-index: 1;
}

.theme-container:hover {
    opacity: 0.8;
}

.shadow-dark {
    background: linear-gradient(145deg, #23282c, #1e2125);
    box-shadow: 17px 17px 23px #1a1d20, -17px -17px 23px #282d32,
        inset 5px 5px 4px #1e2226, inset -5px -5px 4px #24282c;
}

.shadow-light {
    box-shadow: 7px 7px 15px -10px #bbcfda, -4px -4px 13px #ffffff,
        inset 7px 7px 3px rgba(209, 217, 230, 0.35),
        inset -11px -11px 3px rgba(255, 255, 255, 0.3);
}

@keyframes change {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(1.4);
    }
}

.change {
    animation-name: change;
    animation-duration: 1s;
    animation-direction: alternate;
}

/* text wavy animated */
.waviy {
    position: relative;
    /* -webkit-box-reflect: below 0px linear-gradient(transparent, rgba(0,0,0,.2)); */
    font-size: 60px;
}
.waviy span {
    opacity: 0.5;
    filter: blur(0);
    font-family: "Alfa Slab One", cursive;
    position: relative;
    display: inline-block;
    /* color: #fff; */
    text-transform: uppercase;
    animation: waviy 1.2s infinite;
    animation-delay: calc(0.1s * var(--i));
}
@keyframes waviy {
    0%,
    40%,
    100% {
        transform: translateY(0);
    }
    20% {
        transform: translateY(-20px);
    }
}

/* ERROR */
.error {
    color: rgb(46, 73, 83);
}

.error a {
    position: relative;
    text-decoration: underline;
    text-transform: capitalize;
    display: block;
    font-size: 7px;
    margin-top: -10px;
    color: #afafaf;
}
